 body {
  border: 0;
  margin: 0;
  padding: 0;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 100%;
  padding: 0.5em;
  z-index: 2;
}

#leftCol {
  position: fixed;
  top: 3em;
  margin: 1em 0 0 1em;
  width: 18em;
}

#content {
  display: block;
  position: absolute;
  top: 4.5em;
  left: 18em;
  right: 0;
  bottom: 2.3em;
  height: auto;
  width: auto;
  padding: 0 0 0 1em;
  z-index: 1;
  overflow: auto;
}

#footer {
  position: fixed;
  bottom:0;
  margin: 0;
  border: 0;
  height: 1.3em;
  width:100%;
  padding: 0.5em;
  z-index:2;
  overflow:hidden;
}
